{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset( 'css/product.css') }}">{% endblock %}

{% block body %}

    <header class="container-fluid p-5 text-center bg-light">
        <h1>{{ product.name }}</h1>
        <h3>{{ product.category.name }}</h3>
    </header>

    <main class="container-fluid">
        <!-- <div class="row p-3"> -->
        <div class="container d-flex">
            <div class="col-6">
            <div>
                <img src="{{ asset('images/products/' ~ product.img1) }}" alt="photo principale {{ product.name }}" class="w-100">
            </div>
            
            <div class="d-flex justify-content-around p-3 img">
                <img src="{{ asset('images/products/' ~ product.img2) }}" alt="photo 2 {{ product.name }}" class=" detail">
                <img src="{{ asset('images/products/' ~ product.img3) }}" alt="photo 3 {{ product.name }}" class=" detail">
            </div>
        </div>
            
            <div class="col-6">
                <p class="text-dark">{{ product.price }} €</p>
                <p class="text-dark">{{ product.description }}</p>
                <a href="{{ path('cart_add', {'id':product.id}) }}" class="btn btn-success float-right">
                    <i class="fas fa-shopping-cart mr-1"></i>
                    Ajouter au panier
                </a>
            </div>
            
          
        </div>
    </main>

{% endblock %}