{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center">S'inscrire</h1>
    
<div class="container">
    {{ form_start(registrationForm) }}
    
        <div class="form-group">{{ form_row(registrationForm.email) }}</div>

        <div class="col-5  ">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            
        }) }}</div>

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
