{% extends 'baseAdmin.html.twig' %}

{% block title %}admin_users{% endblock %}

{% block body %}
<div>
    <h2 class="pb-5">Liste des utilisateurs</h2>
    <table class="table table-bordered table-dark text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Date de naissance</th>
                <th>Roles</th>
                <th>Actions</t&h>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td class="align-middle">{{ loop.index }}</td>
                    <td class="align-middle">{{ customer.gender }}</td>
                    <td class="align-middle">{{ customer.lastName }}</td>
                    <td class="align-middle">{{ customer.firstName }}</td>
                    <td class="align-middle">{{ customer.email }}</td>
                    <td class="align-middle">{{ customer.address }}</td>
                    <td class="align-middle">{{ customer.city }}</td>
                    <td class="align-middle">{{ customer.ZipCode }}</td>
                    <td class="align-middle">{{ customer.dob.format('d/m/Y')}}</td>
                    <td class="align-middle">{{ customer.roles|join (' + ')|lower }}</td>
                    </td>
                    <td>
                        <a href="{{ path('admin_user_update', {'id':customer.id}) }}"><i class="fas fa-user-edit"></i></a>
                        <a href="{{ path('admin_user_delete', {'id':customer.id}) }}"><i data-toggle="modal" data-target="#exampleModal"class="fas fa-trash"></i></a>
                     </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

 {% block javascripts %}  
        <script type="text/javascript" src={{ asset('script/script.js')}}> 
        </script>
 {% endblock %}

{% endblock %}
