{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Boutique</h1>
        {% if category %}
            <h5 class="p">{{category.name}}</h5>
        {% endif %}
    </div>
</div>
<div class="container d-flex mb-5" id="container-shop">
    <div class="col-4">
        <div class="card card-body">
            <h5 class="card-title" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Categorie</h5>
            <div class="form-group">
                <input type="text" class="form-control" id="floatingInput" placeholder="Rechercher">                
            </div>
            <div class="collapsed" id="collapseExample">
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li><a href="{{ path('shop', {'categoryId':category.id}) }}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-8">
        {% for product in products %}
            <div class="border rounded card-article my-2" style="max-height: 150px;">
            
            <div class="d-flex">
                <div class="col-3">
                    <img src="{{ asset('images/products/' ~ product.img1) }}" class="card-img-top img-fluid" alt="..." style="max-height: 140px;" >
                </div>
                
                <div class="col-6">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-title">{{product.price}}</h6>
                    <p class="text-wrap text-truncate text-dark">{{product.description}}</p>
                </div>
                <div class="col-3 border-left align-items-center d-flex flex-column">
                    <a href="{{ path('product', {'id':product.id}) }}" class="btn btn-primary my-1">Détails</a>
                    <a href="{{ path('cart_add', {'id':product.id}) }}" class="btn btn-warning my-1">Ajouter au panier</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--  <img src="https://media.smartbox.com/pim/1000000407607869960064.jpg?thumbor=640x0" class="card-img-top" alt="..."> -->
{% endblock %}
