<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="autor" content="DJIBRIL BADJI, Pierre, Sabrina, Alexandre">
        <meta name="description" content="Site E-commerce">
        <title> Freebird {% block title %} {% endblock %}</title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <link rel="stylesheet" href="{{ asset( "css/style.css") }}">

        
        {% block stylesheets %}
        
        {% endblock %}

    </head>
    <body>
        <header class="container-fluid">
    
            <div class="row">
                    <div class="col-12 text-right" id="id-nav-bar">
                        {% if app.user %}
                            <span class="login-message">Bonjour {{ app.user.LastName|upper}}</span>
                            <a href="{{ path('client')}}" > <i class="fas fa-user" id="id-user"> </i></a>
                        {% else %}
                             <a href="{{ path('app_login')}}" > <i class="fas fa-user" id="id-user"> </i></a>
                        {% endif %}
                        

                        <a href="{{ path('cart_index') }}"> <i class="fas fa-shopping-cart" id="id-panier"></i></a>
                        <input type="search" name="recherche" id="id-input" placeholder="recherche" class="text-center ">
                        <a href="#" type="submit" id="id-recherche"><i class="fas fa-search" ></i></a>
                    </div>
                    <br>

                    
                    <div class="col-4 ">
                            <img class="logo text-center" src="{{asset('images/logo/logo.png')}}" alt="logo freebird">
                    </div> 
                    <div class="col-8 text-right " >
                        <nav class="nav-header " >
                            <a href="/">Accueil</a>
                            <a href="/discovery">Découverte</a>
                            <a href="/shop">Boutique</a>
                            <a href="/about">A propos</a>
                            <a href="/contact">Contact</a>
                        </nav>
                    </div>        
            </div>
        </header>

        
            {% block body %}{% endblock %} 
        
    
    <footer>
                    <section class="container-fluid" id="id-section-footer">
                        <div class="row">
                             
                            <div class="col-4 p-3">
                                    <h4 class=""> Nos pages</h5>
                                    <div class="dropdown-divider"></div>
                                    <p><a href="#"> Decouverte</a></p>
                                    <p><a href="#">Boutique</a></p>
                                    <p><a href="#">A propos</a></p>
                                    <p><a href="#">Contact</a></p>
                                    <br>
                                    <h4 class=""> Nos activités</h4>
                                    <div class="dropdown-divider"></div>
                                    <p><a href="#">Ventes de produits </a></p>
                                    <p><a href="#">Nos stages</a></p>
                                    <p><a href="#">Baptêmes</a></p>
                                    
                            </div>  
                                    
                            <div class="col-4 p-3">
                                <div>
                                    <map name="carte-de-deploiement">
                                        <area shape="" coords=""
                                              href=""
                                              target="_blank" alt="HTML" />
                                <img src="{{ asset('images/map.jpg') }}" alt="" class="w-100">
                                      
                                    </map>
                                    <img usemap="" src="" alt="" />
                                </div>
                                

                            </div>
                            <div class="col-4 p-3" id="id-reseaux">
                                <h4 class="">Réseaux sociaux</h4>
                                <p>Vous pouvez nous joindre sur nos différents réseaux <br> sociaux pour partagez plus d'experiences et le quotidien de toute la Team Freebird</p>
                                <div class="dropdown-divider"></div>
                                <a href=""> <i class="fab fa-facebook-square "></i></a>
                                <a href=""> <i class="fab fa-instagram-square"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-linkedin"></i></a>
                           </div>
                            
                                <div class="col-12 text-center">
                                    <p > <a href="#"> Mentions légales-</a> <a href="#">CGV- </a> <a href="#">CGU</a> <a href="#">- Politique de confidentialités </a></p>
                                    <p>Copyright © 2021-Freebird</p>
                                </div>
                        </div>

                    </section>
    </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script src="https://kit.fontawesome.com/c28c69092d.js" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function(){
            bsCustomFileInput.init()
        })
        </script>
        {% block javascript %}{% endblock %}


  
    </body>
</html>
